@using System.Web;
@using System.Collections;
@using System;
@model MvcEmployeCrud.Models.EmployeeDepartmentModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-4">
            <h2>
                @Html.ActionLink("Create New Employee", "Create", "Employee")
            </h2>
        </div> <div class="col-md-8">

        </div>
    </div>
</div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.employeeModels)
        {
            <tr>
                <td>@emp.Name </td>
                <td> <button id="btnDetail" onclick="getDetail(@emp.ID)" value="Detail">Detail</button> </td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = emp.ID }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" }) </td>
            </tr>
        }
    </tbody>
</table>
<div id="detail">

</div>
@section scripts{
     <script>
         function getDetail(id) {
              
             $.ajax({
                 url: "/Employee/Detail",
                 data: { "id": id},
                 method: "POST",
                 dataType: "json",
                 success: function (data) {
                     var html = '<table><tr><td>Name : ' + data.Name + '</td></tr><tr><td>' + data.FatherName + '</td></tr><tr><td>' + data.Mobile + '</td></tr></table>';
                     $('#detail').html(html);
                 },
                 error: function (ex) {

                 },


             });
         }

     </script>
    
}